.list {
    overflow-y: scroll;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    padding: 15px;

    div {
        border-block-end: none !important;
    }
}

.blackProfileFont {
    font-size: 20px !important;
    font-weight: 700 !important;
    color: black !important;
    margin: 0 !important;

    @media screen and (max-width: 850px) {
        font-size: 16px !important;
    }
}

.profileProductName {
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 23px !important;
    color: #C3C3C3 !important;
    width: 214px !important;

    @media screen and (max-width: 850px) {
        font-size: 14px !important;
        width: 114px !important;
    }
}

.yellowProfileFont {
    font-size: 20px !important;
    font-weight: 700 !important;
    color: #FABC22 !important;
    margin: 0 !important;

    @media screen and (max-width: 850px) {
        font-size: 16px !important;
    }
}


.headerItems {
    padding-inline: 10px;

    .headerItem {
        flex: 1;
    }

    .headerItem:first-child {
        flex: 2.5;
        text-align: start;
    }

    .headerItem:last-child {
        text-align: end;
    }
}

//!OrderHistoryMobile

.TitleCustom {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #7B7B7B !important;
    margin: 0px !important;
}

.TitleProduct {
    font-size: 14px !important;
    font-weight: 700 !important;
    color: #C3C3C3 !important;
    margin: 0px !important;
    max-width: 213px !important;
}

.TitleInfoOrder {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #7B7B7B !important;
    margin: 0px !important;
}

.TextInfoOrder {
    font-weight: 700 !important;
    font-size: 14px !important;
    color: #2A2A2A !important;
    margin: 0px !important;
}

.yellow {
    color: #FABC22 !important;
}

.CardCustom {
    border-radius: 20px !important;
    border: none !important;
    padding: 20px;
}

.headCustom {
    border-bottom: none !important;
    padding: 0px !important;
    min-height: 44px !important;

    div {
        display: initial !important;
    }
}

.bodyCustom {
    padding: 0px !important;
}

.profileDefaultImage {
    width: 70px;
    height: 51px;
    object-fit: contain;
}