.list {
    overflow-y: scroll;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    padding: 15px;

    div {
        border-block-end: none !important;
    }
}

.blackProfileFont {
    font-size: 20px !important;
    font-weight: 700 !important;
    color: black !important;
    margin: 0 !important;
}

.yellowProfileFont {
    font-size: 20px !important;
    font-weight: 700 !important;
    color: #FABC22 !important;
    margin: 0 !important;
}


.headerItems {
    padding-inline: 10px;

    .headerItem {
        flex: 1;
    }

    .headerItem:first-child {
        flex: 2.3;
        text-align: start;
    }

    .headerItem:last-child {
        text-align: end;
    }
}