//! PriceRangeSelector
.priceRangeSelector_main {
    display: flex;
    flex-direction: column;

    .priceRangeSelector_title {
        display: flex;
        justify-content: space-evenly;
        margin: 5px 0px 10px 0px;

        li {
            font-size: 16px;
            color: rgba(123, 123, 123, 1);
            font-weight: 500;
        }
    }

    div {
        display: flex;
        width: 100%;
        gap: 10px;
    }

    div>div>div {
        height: 60px;
        outline: none;
        border-radius: 15px;
    }

    div>div>div>div {
        border: none !important;
        background-color: rgba(248, 248, 248, 1) !important;
    }
}