.extraCustom {
  margin: 0 !important;
}

.cardCustom {
  width: 220px !important;
  border-radius: 20px !important;
  padding: 10px !important;
  cursor: pointer !important;
}

.productCardImage {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}

.bodyCustom {
  padding: 0 !important;
}

.headCustom {
  padding: 0 !important;
  min-height: 30px !important;
  justify-content: flex-start !important;
  max-height: 30px !important;
  border: none !important;
}
.coverCustom{
  margin: 0 !important;
  height: 240px !important;
  overflow: hidden !important;
}

.tag {
  margin-block: 3px !important;
  margin-inline-end: 3px !important;
  border-radius: 6px !important;
  padding-inline: 6px !important;
  font-size: 10px !important;
  font-weight: bold !important;
}

.favButton {
  width: 30px !important;
  height: 30px !important;
  background: #f8f8f8;
  border-color: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counterWrapper {
  width: 100%;
  background-color: #ecf5ff;
  border-radius: 50px;
  padding-inline: 3px;
  padding-block: 4px;

  span {
    font-size: 14px !important;
    font-weight: bold !important;
    color: #1b81e7 !important;
  }
}

.productCardImage {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.clickedHeartProduct {
  color: red !important;
  background-color: #fde6e6 !important;

  &:hover {
    color: red !important;
  }
}


.productParagraph {
  font-size: 14px;
  line-clamp: 2;
  display: -webkit-box;
  word-break: break-word;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


@media (max-width: 480px) {
  .btnBuy{
    font-size: 13px;
    height: 35px;
  }
  .cardCustom{
    width: 90% !important;
  }

  .productParagraph{
    font-size: 12px !important;
  }

  .priceTitle{
    font-size: 14px !important;
  }

  .productRating{
    font-size: 14px !important;
  }

  .productCardImage{
    width: 131px !important;
    height: auto !important;
    object-fit: cover !important;
  }

  .coverCustom{
    width: initial;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
