//MobileSideBar
.ant-drawer-content {
  .ant-drawer-header {
    div>button>span>svg {
      color: rgba(27, 129, 231, 1);
      font-size: 22px;
    }

    div>button>span {
      background-color: rgba(236, 245, 255, 1);
      padding: 15px;
      border-radius: 15px;
    }

    div {
      margin-top: 15px;
      display: flex;
      justify-content: flex-end;
    }
  }
}

//UndreLineAboveTheCloseSvg
:where(.css-dev-only-do-not-override-42nv3w).ant-drawer .ant-drawer-header {
  border-bottom: none;
}

// TODO Оно мешает стилям в Profilelist
// :where(.css-dev-only-do-not-override-42nv3w).ant-card-bordered .ant-card-cover {
//   margin: 0;
//   width: 200px;
//   height: 240px;
//   overflow: hidden;

//   @media screen and (max-width: 480px) {
//     width: initial;
//     height: 140px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
// }

:where(.css-dev-only-do-not-override-42nv3w).ant-card .ant-card-actions {
  border-top: 0;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-card .ant-card-actions>li {
  margin: 0;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-drawer .ant-drawer-content {
  background: none;
}

// UlInsideOfFilterSideBar
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline,
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background: #fff !important;
}

// PaddinForTextInFilterSideBar

:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light.ant-menu-inline .ant-menu-item,
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light>.ant-menu.ant-menu-inline .ant-menu-item {
  padding-left: 0px !important;
}

.ant-menu-submenu-title {
  padding: 0px !important;
}

//BorderForFilterSideBar
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline,
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  border-radius: 40px !important;
}

//FilterSideBarClickedText
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light>.ant-menu .ant-menu-submenu-selected>.ant-menu-submenu-title {
  color: #000;
}

//RightLineForFilterMenuSideBar
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light>.ant-menu.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light>.ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: none !important;
}

//ImagePreviewHover
:where(.css-dev-only-do-not-override-42nv3w).ant-image .ant-image-mask {
  display: none;
}

//UnderLineAboveUlLiInNavbarAndFilter
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected::after,
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu-selected::after {
  border-bottom-color: #fabc22 !important;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected::after,
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu-selected:hover {
  border-bottom-color: #fabc22 !important;
}

// BorderRadiusForCarousel
:where(.css-dev-only-do-not-override-42nv3w).ant-carousel .slick-slider .slick-track,
:where(.css-dev-only-do-not-override-42nv3w).ant-carousel .slick-slider .slick-list {
  border-radius: 20px !important;
}


:where(.css-42nv3w).ant-carousel .slick-dots li {
  background-color: gray !important;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-card .ant-card-head-wrapper {
  display: block;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-col {
  @media screen and (max-width: 480px) {
    padding: 0 !important;
  }
}

//ArrowInCartList
:where(.css-dev-only-do-not-override-42nv3w).ant-steps.ant-steps-navigation .ant-steps-item::after {
  @media screen and (max-width: 660px) {
    width: 5px !important;
    height: 5px !important;
    top: calc(50% - 1px)
  }
}

//StepsInCartList
:where(.css-dev-only-do-not-override-42nv3w).ant-steps.ant-steps-navigation .ant-steps-item-container {
  @media screen and (max-width: 660px) {
    display: flex !important;
    flex-direction: column !important;
  }
}

//HeightForStepsInCartList
:where(.css-dev-only-do-not-override-42nv3w).ant-steps:not(.ant-steps-vertical) .ant-steps-item-custom .ant-steps-item-icon {
  @media screen and (max-width: 660px) {
    height: 10px !important;
  }
}