//MobileSideBar
.ant-drawer-content {
    .ant-drawer-header {
        div>button>span>svg {
            color: rgba(27, 129, 231, 1);
            font-size: 22px;
        }

        div>button>span {
            background-color: rgba(236, 245, 255, 1);
            padding: 15px;
            border-radius: 15px;
        }

        div {
            margin-top: 15px;
            display: flex;
            justify-content: flex-end;
        }
    }
}

//UndreLineAboveTheCloseSvg
:where(.css-dev-only-do-not-override-42nv3w).ant-drawer .ant-drawer-header {
    border-bottom: none;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-card-bordered .ant-card-cover {
    margin: 0;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-card .ant-card-actions {
    border-top: 0;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-card .ant-card-actions>li {
    margin: 0;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-drawer .ant-drawer-content {
    background: none;
}

//UlInsideOfFilterSideBar
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline,
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
    background: #fff;
}

//ForPriceRangeSelector

// :where(.css-dev-only-do-not-override-42nv3w).ant-flex {
//     display: initial;
// }

//UnderCategoryForFilterSideBar
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-inline .ant-menu-sub.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title {
    padding-left: 24px !important;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light.ant-menu-inline .ant-menu-item,
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light>.ant-menu.ant-menu-inline .ant-menu-item {
    padding-left: 24px !important;
}

// :where(.css-dev-only-do-not-override-42nv3w).ant-layout .ant-layout-sider-children {
//     height: auto !important;
// }

//HeightForFilterSideBar

:where(.css-dev-only-do-not-override-42nv3w).ant-layout .ant-layout-sider {
    flex: none !important;
}

//BorderForFilterSideBar
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline,
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
    border-radius: 20px !important;
}

//FilterSideBarClickedText
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light>.ant-menu .ant-menu-submenu-selected>.ant-menu-submenu-title {
    color: #000;
}

.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title {
    color: blue;
}