//! CategoryCard
.categoryCard_main {
    margin-top: 20px;

    .categoryCard_container {
        display: flex;
        max-width: 1700px;
        margin: 0 auto;

        @media only screen and (max-width: 640px) {
            justify-content: initial;
            gap: 10px;
            overflow-x: auto;
            scrollbar-width: none;
            -webkit-overflow-scrolling: touch;
            white-space: nowrap;
        }

        justify-content: space-between;
        row-gap: 15px;

        .categoryCardAnt {
            width: 220px;
            height: 220px;
            border: none;
            border-radius: 20px;
            cursor: pointer;

            .categoryCardAntBody {
                padding: 26px 15px 26px 15px;
            }
        }
    }
}

//! AdCardList

.adCardList_main {
    margin-top: 90px;
    padding-top: 40px;


    .adCardList_container {
        display: flex;
        gap: 15px;
        justify-content: space-between;
        max-width: 1700px;
        margin: 0 auto;


        @media screen and (max-width: 1200px) {
            justify-content: initial;
            gap: 15px;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            white-space: nowrap;
            height: auto;
        }

        @media screen and (max-width: 660px) {
            scrollbar-width: none;
        }

        width: 100%;
        height: 100%;
    }
}

.adCard_swiper {


    img {
        width: 100%;
        height: auto;
        border-radius: 20px;

        @media screen and (max-width: 660px) {
            width: 151px;
            height: 112px;
        }
    }
}

//! BrandCard

.brandCard {
    width: 220px;

    @media screen and (max-width: 530px) {
        width: 145px;
        height: 85px;
    }

    height: 130px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

//! BrandCardList

.brandCard_main {
    margin-top: 40px;
    padding-bottom: 40px;



    .brandCard_container {
        max-width: 1700px;
        margin: 15px auto;
    }
}

//! NewProductsList

.newProducts_main {
    margin-top: 40px;

    .newProducts_container {
        max-width: 1700px;
        margin: 0 auto;

        .newProducts_section__title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 390px) {
                justify-content: initial;
                align-items: initial;
                flex-direction: column;
                row-gap: 10px;
            }
        }

        .newProducts {
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 345px) {
                justify-content: center;
            }

            row-gap: 15px;
            margin-top: 15px;
        }
    }
}

//! RecommendedProductsList

.recommendedProducts_main {
    .recommendedProducts_container {
        .recommendedProducts {
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 345px) {
                justify-content: center;
            }

            row-gap: 15px;
            margin-top: 15px;
        }
    }
}

//! PopularProductsList

.popularProducts_main {
    margin-top: 40px;

    .popularProducts_container {
        max-width: 1700px;
        margin: 0 auto;

        .popularProducts_section__title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 390px) {
                justify-content: initial;
                align-items: initial;
                flex-direction: column;
                row-gap: 10px;
            }
        }

        .popularProducts {
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 345px) {
                justify-content: center;
            }

            row-gap: 15px;
            margin-top: 15px;
        }
    }
}