//! CategoryCard
.categoryCard_main {
    margin-top: 20px;

    .categoryCard_container {
        display: flex;

        @media only screen and (max-width: 640px) {
            justify-content: initial;
            gap: 10px;
            overflow-x: auto;
            scrollbar-width: none;
            -webkit-overflow-scrolling: touch;
            white-space: nowrap;
        }

        justify-content: space-between;
        row-gap: 15px;

        div {
            width: 220px;
            height: 220px;
            border-radius: 20px;
            padding: 24px;

            @media only screen and (max-width: 880px) {
                padding: 10px;
            }

            border: none;


            @media only screen and (max-width: 1200px) {
                width: 180px;
                height: 180px;
            }

            @media only screen and (max-width: 1060px) {
                width: 150px;
                height: 150px;
            }

            @media only screen and (max-width: 880px) {
                width: 110px;
                height: 110px;
            }
        }

        div>div {
            display: flex;
            flex-direction: column;
            padding: initial !important;
            align-items: flex-start;



            img {
                width: 120px;
                height: 120px;

                @media only screen and (max-width: 1100px) {
                    width: 100px;
                    height: 100px;
                }

                @media only screen and (max-width: 880px) {
                    width: 60px;
                    height: 60px;
                }

                object-fit: cover;
            }

            span {
                font-size: 18px;
                font-weight: 1000;
                margin-top: 10px;

                @media only screen and (max-width: 1200px) {
                    font-size: 16px;
                }

                @media only screen and (max-width: 1060px) {
                    font-size: 12px;
                }

                @media only screen and (max-width: 880px) {
                    font-size: 10px;
                }
            }
        }
    }
}

//! AdCard

.adCard_main {
    margin-top: 90px;
    padding-top: 40px;


    .adCard_container {
        display: flex;
        gap: 15px;
        justify-content: space-between;

        @media screen and (max-width: 1200px) {
            justify-content: initial;
            gap: 15px;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            white-space: nowrap;
            height: auto;
        }

        @media screen and (max-width: 660px) {
            scrollbar-width: none;
        }

        width: 100%;
        height: 100%;

        div {
            width: 340px;

            @media screen and (max-width: 1440px) {
                width: 290px;
            }

            @media screen and (max-width: 1200px) {
                width: 250px;
            }

            @media screen and (max-width: 660px) {
                width: 140px;
                height: 110px;
            }


            height: 252px;
            border: none;
            border-radius: 20px;
            padding: 20px 0px 0px 20px;
            color: rgba(119, 134, 146, 1);
            font-weight: 1000;
            font-size: 22px;


            div {
                padding: initial;
                height: auto;
            }
        }
    }
}

//! BrandCard

.brandCard {
    width: 220px;

    @media screen and (max-width: 530px) {
        width: 145px;
        height: 85px;
    }

    height: 130px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

//! BrandCardList

.brandCard_main {
    margin-top: 40px;
    padding-bottom: 40px;

    .brandCard_title {
        font-size: 24px;
        font-weight: 1000;
        color: rgba(119, 134, 146, 1);
    }

    .brandCard_container {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: 15px;
        row-gap: 15px;
        flex-wrap: wrap;
    }
}

//! NewProductsList

.newProducts_main {
    margin-top: 40px;

    .newProducts_container {

        .newProducts_section__title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 390px) {
                justify-content: initial;
                align-items: initial;
                flex-direction: column;
                row-gap: 10px;
            }



            div {
                font-weight: 1000;
                font-size: 24px;
                color: rgba(119, 134, 146, 1);
                cursor: pointer;
            }

            button {
                border: none;
                width: 140px;
                height: 40px;
                background-color: rgba(250, 188, 34, 1);
                color: #fff;
                border-radius: 10px;

                @media screen and (max-width: 390px) {
                    width: 99px;
                    height: 28px;
                    font-size: 12px;
                    font-weight: 1000;
                }
            }

            button:hover {
                background-color: rgba(250, 188, 34, 1);
                color: #fff;
            }
        }

        .newProducts {
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 345px) {
                justify-content: center;
            }

            row-gap: 15px;
            margin-top: 15px;
        }
    }
}

//! RecommendedProductsList

.recommendedProducts_main {
    .recommendedProducts_container {
        .recommendedProducts_title {
            font-size: 24px;
            font-weight: 1000;
            color: rgba(255, 255, 255, 1);
        }

        .recommendedProducts {
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 345px) {
                justify-content: center;
            }

            row-gap: 15px;
            margin-top: 15px;
        }
    }
}

//! PopularProductsList

.popularProducts_main {
    margin-top: 40px;

    .popularProducts_container {

        .popularProducts_section__title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 390px) {
                justify-content: initial;
                align-items: initial;
                flex-direction: column;
                row-gap: 10px;
            }



            div {
                font-weight: 1000;
                font-size: 24px;
                color: rgba(119, 134, 146, 1);
                cursor: pointer;
            }

            button {
                border: none;
                width: 140px;
                height: 40px;
                background-color: rgba(250, 188, 34, 1);
                color: #fff;
                border-radius: 10px;

                @media screen and (max-width: 390px) {
                    width: 99px;
                    height: 28px;
                    font-size: 12px;
                    font-weight: 1000;
                }
            }

            button:hover {
                background-color: rgba(250, 188, 34, 1);
                color: #fff;
            }
        }

        .popularProducts {
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 345px) {
                justify-content: center;
            }

            row-gap: 15px;
            margin-top: 15px;
        }
    }
}