.navbar {
    display: flex;
    flex-direction: column;
    max-width: 1420px;
    margin: 15px auto;

    .nav_up {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .phone {
            span {
                margin-left: 15px;
                font-size: 12px;
                font-weight: 400;
                color: #000;

                a {
                    text-decoration: none;
                    color: #000;

                }
            }

            img {
                cursor: pointer;
            }
        }

        .navbar_navigation {
            display: flex;
            gap: 25px;

            .active {
                position: relative;
            }

            .active::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -4px;
                width: 100%;
                height: 2px;
                background-color: #FABC22;
                animation: grow 0.3s ease;
            }

            @keyframes grow {
                from {
                    transform: scaleX(0);
                }

                to {
                    transform: scaleX(1);
                }
            }

        }
    }

    .nav_down {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;

        .form {
            display: flex;
            gap: 20px;

            button {
                background-color: rgba(236, 245, 255, 1);
                color: rgba(27, 129, 231, 1);
                width: auto;
                height: 50px;
                border: none;
                font-size: 14px;
                font-weight: 700;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            button:hover {
                background-color: rgba(236, 245, 255, 1);
                color: rgba(27, 129, 231, 1);
            }

            span>span>span>button {
                background-color: rgba(250, 188, 34, 1);
                color: rgba(255, 255, 255, 1);
                font-size: 25px;
            }

            span>span>span>button:hover {
                background-color: rgba(250, 188, 34, 1);
                color: rgba(255, 255, 255, 1);
            }

            input {
                height: 50px;
                outline: none;
                border: none;
                background-color: #fff;
            }

            .searchNavbarMenu {
                position: relative;
                z-index: 3;

                .dropdownCustomAntd {
                    @media screen and (max-width: 1200px) {
                        width: 600px !important;
                    }

                    @media screen and (max-width: 1024px) {
                        width: 500px !important;
                    }

                    @media screen and (max-width: 900px) {
                        width: 350px !important;
                    }

                    @media screen and (max-width: 768px) {
                        width: 200px !important;
                    }

                    @media screen and (max-width: 570px) {
                        width: 150px !important;
                    }
                }
            }


        }

        .icon {
            display: flex;
            align-items: center;
            gap: 15px;

            .icon__item {
                cursor: pointer;
            }
        }
    }
}

// .modalBackgroundColor {
//     background-color: rgba(0, 0, 0, 0.5);
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 2;
// }

//! MobileNavbar

@media only screen and (max-width: 660px) {
    .navbar_mobile {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;

        .nav_up__mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo_mobile {
                .logo_mobile__image {
                    width: 50px;
                    height: 50px;
                }
            }

            .icon_mobile {
                display: flex;
                align-items: center;
                gap: 15px;

                .icon_mobile__item {
                    cursor: pointer;
                }
            }
        }

        .nav_down__mobile {
            margin-top: 15px;

            .form_mobile {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;

                .btn {
                    background-color: rgba(236, 245, 255, 1);
                    color: rgba(27, 129, 231, 1);
                    border: none;
                    width: 140px;
                    height: 40px;
                    font-size: 16px;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .btn:hover {
                    background-color: rgba(236, 245, 255, 1);
                    color: rgba(27, 129, 231, 1);
                }

                .search {
                    background-color: rgba(255, 255, 255, 1);
                    color: rgba(183, 183, 183, 1);
                    border: none;
                    width: 140px;
                    height: 40px;
                    font-size: 14px;
                    font-weight: 400;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .sideBar_navigation {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-end;
        justify-content: center;
        row-gap: 15px;
        height: 84vh;

        li {
            font-size: 32px;
            font-weight: 1000;
            color: rgba(255, 255, 255, 1);
        }
    }

    .navbar_mobile__footer {
        display: flex;
        align-items: center;
        gap: 15px;

        div {
            color: rgba(255, 255, 255, 1);
            font-size: 12px;
            font-weight: 400;

            a {
                text-decoration: underline;
                color: #fff;
            }
        }


    }

    .navbar_mobile__drawer {
        background-color: rgb(27, 129, 231);
    }
}

//! ModalSearch

@media only screen and (max-width: 660px) {
    .modalBackground {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        display: flex;
        flex-direction: column;

        // Input
        span>span>input {
            border: none;
            height: 40px;
        }

        // Input hover
        span>span>input:hover {
            border: none !important;
        }

        // InputRightIconContainer
        .input_modal>span>span {
            background-color: rgba(250, 188, 34, 1);
            height: 40px;
        }

        //InputRightIcon
        .input_modal>span>span>button {
            color: initial;
            background: initial;
        }

        //InputRightIconHover
        .input_modal>span>span>button:hover {
            color: initial !important;
            background: initial !important;
        }
    }
}

//! MobileNavbarFilterSideBar
@media only screen and (max-width: 660px) {

    .mobile_filter_drawer {
        background-color: rgba(248, 248, 248, 1);
        border-bottom: 0px solid rgba(248, 248, 248, 1);
    }

    .mobile_filter__main {
        margin-top: 40px;

        .mobile_filter__container {
            display: flex;
            flex-direction: column;
            row-gap: 20px;



            .mobile_filter {
                display: flex;
                flex-direction: column;
                row-gap: 15px;
                width: 100%;
                height: auto;
                padding: 20px;
                background-color: #fff;
                border-radius: 20px;


                .main_title {
                    display: flex;
                    justify-content: space-between;

                    div {
                        font-size: 22px;
                        font-weight: 1000;
                        color: rgba(27, 129, 231, 1);
                    }
                }

                .mobile_filter__item {
                    display: flex;
                    flex-direction: column;
                    row-gap: 15px;

                    .dropdown_mobile__filter {
                        display: flex;
                        justify-content: space-between;

                        div {
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }

                    .dropdown_mobile_filter__item {
                        display: flex;
                        flex-direction: column;
                        row-gap: 15px;

                        div {
                            font-size: 16px;
                            font-weight: 500;
                            color: rgba(123, 123, 123, 1);
                        }

                        .active {
                            color: rgba(250, 188, 34, 1);
                            font-weight: 1000;
                        }
                    }
                }
            }
        }
    }
}