@media screen and (max-width: 510px) {
    .main {
        display: none;
    }
}

.menuCustomFilter {
    // background-color: red;

    .menuCustomFilter>li>div>span {
        color: blue !important;
    }
}

.layoutFilter {
    margin: 20px auto !important;
    max-width: 1400px !important;
    background: transparent !important;
    padding-block: 40px;
}

.filterButton {
    height: 30px !important;
    width: 170px !important;
    font-size: 14px !important;
}

@media screen and (max-width: 1400px) {
    .siderFilter {
        max-width: 300px !important;
        min-width: 300px !important;
    }
}

@media screen and (max-width: 600px) {
    .layoutFilter {
        padding-block: 20px;
    }

    .siderFilter {
        display: none;
    }
}